@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/******************** nav-bar **********************/
.nav-bar {
  padding: 15px 0;
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 320px;
}
.nav-bar h2:nth-of-type(1) {
  float: left;
  width: 50%;
  margin-left: 13px;
  margin-top: 15px;
  font-size: 35px;
  font-family: "Cherry Swash";
  cursor: pointer;
  color: #fff;
}
.nav-bar h2 i {
  color: #528f2d;
}
.nav-bar ul {
  margin: 0px;
  padding-top: 10px;
}
.nav-bar ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  font-family: "Ubuntu";
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav-bar ul li:hover,
.nav-bar ul li a:hover {
  color: #528f2d;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}
.nav-bar ul li button {
  padding: 13px 29px;
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 17px;
  border-radius: 21px;
  outline: none;
  border: 1.5px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.nav-bar ul li button:hover {
  background-color: #fff;
  color: #528f2d;
}
.nav-bar h2:nth-of-type(2) {
  font-size: 60px;
  font-weight: 600;
  margin-top: 80px;
  text-align: center;
  color: white;
  font-family: "Signika";
}

/******************** recipes **********************/
.Recipes {
  padding-top: 70px;
  padding-bottom: 70px;
}

.Recipes h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Signika";
  color: #151515;
  font-size: 40px;
  margin-bottom: 5px;
}
.Recipes p {
  color: #808080;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  width: 50%;
  margin: 0 auto 45px;
  margin-top: 10px;
  line-height: 25px;
  font-family: "Ubuntu";
}
.Recipes video {
  border: 1px solid white;
  border-radius: 15px;
  margin-left: 65px;
}

/******************** num **********************/

.num {
  background-image: url("../images/numbers.jpg");
  height: 250px;
}
.num div {
  display: inline-block;
  text-align: center;
  margin-left: 25px;
  padding: 50px;
  color: white;
}
.num div h2 {
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
}
.num div p {
  color: #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 5px;
  font-family: "Ubuntu";
}
/******************** authors **********************/
.authors {
  padding-left: 40px;
  padding-right: 40px;
}
.authors h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
  color: #151515;
  font-size: 40px;
  margin-bottom: 5px;
  font-family: "Signika";
}
.authors > p {
  color: #808080;
  text-align: center;
  margin-bottom: 50px;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  font-family: "Ubuntu";
}
.authors .author {
  display: inline-block;
  text-align: center;
}
.authors .author img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 30px;
}
.authors .author h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  margin: 0;
  color: #151515;
  margin-bottom: 5px;
  font-family: "Signika";
}
.authors .author p {
  font-size: 16px;
  font-family: "Ubuntu";
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #606060;
}
.authors .author span i {
  text-align: left;
  border: 1px solid #528f2d;
  border-radius: 50%;
  padding: 10px;
  color: #528f2d;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.authors .author span i:hover {
  background-color: #528f2d;
  color: white;
}
/******************** search **********************/
.search {
  background-image: url("../images/search.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}
.search h2 {
  padding-top: 107px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  line-height: 39px;
  font-family: "Signika";
  font-weight: 700;
}
.search p {
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 49px;
  margin-right: 57px;
  font-size: 18px;
  line-height: 25px;
  font-family: "Ubuntu";
}
.search input {
  display: inline-block;
  width: 420px;
  padding: 15px 30px;
  border: 1.5px solid #fff;
  border-radius: 24px;
  outline: none;
  height: 60px;
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 646px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search input::placeholder {
  color: #fff;
}
.search select {
  width: 304px;
  border: 1.5px solid #fff;
  border-radius: 24px;
  outline: none;
  height: 60px;
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 343px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* class applies to select element itself, not a wrapper element */ /*.select-css == .search select*/
.select-css {
  display: block;
  font-size: 16px;
  font-family: "Ubuntu";
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background: url("images/arrow2.png");
  background-repeat: no-repeat;
  /* arrow icon position */
  background-position: 76% 50%;
  /* icon size, then gradient */
  background-size: 15px;
}
/* Focus style */
.select-css:focus {
  color: #000;
  outline: none;
}
.search button {
  right: 341px;
  position: absolute;
  top: 239px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 23px 19px 19px 22px;
  background-color: #fff;
  border: 1.5px solid #fff;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 51px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.search button i {
  color: #528f2d;
}
.search button:hover {
  background-color: transparent;
}
/******************** footer **********************/
.footer {
  padding: 10px;
  height: 40px;
  background-color: #528f2d;
  font-family: "Ubuntu";
}
.footer h2 {
  text-align: center;
  color: #fff;
  font-family: "u";
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.footer h2:first-of-type {
  float: left;
}
.footer h2:nth-of-type(2) {
  float: right;
}
